In [2]:
sarah , bob , avi = 21,54,24

In [3]:
sarah

21

In [4]:
name , age = "bob", 24

In [5]:
age , name

(24, 'bob')

In [6]:
print("%s is %d years old." % (name , age))

bob is 24 years old.

In [7]:
lee = {'fir':20,'sec':25}

In [8]:
print("%(fir)s" % lee)

20

In [12]:
lee['fir'] = 25

In [13]:
lee

{'fir': 25, 'sec': 25}

In [18]:
def solveMeFirst():
    a = int(input("eneter number a "))
    b = int(input("eneter number b "))
    
    ans = a+b
    print("ypur answer is %d" %ans)
solveMeFirst()

eneter number a23
eneter number b25
ypur answer is 48

In [38]:
def fun():
    n = int(input("input a positive number"))
    while n < 0:
        n = int(input("please input a positive number"))
    if (n%2) > 0
        print("weird")
    if (n%2) == 0:
        if n >= 2 and n <= 5:
            print("not weird")
        if n >= 6 and n <= 20:
            print("weird")
        if n >= 20:
            print("not weird")
fun()

input a positive number10
weird

In [19]:
0.03%1

0.03

In [20]:
5%1

0

In [41]:
a = "11111hello11111"
a.strip("1")

'hello'

In [44]:
def fudo():
    a = int(input(""))
    b = int(input(""))
    print(a+b)
    print(a-b)
    print(a*b)
fudo()

25
25
50
0
625

In [48]:
from math import*
def div():
    a = int(input(""))
    b = int(input(""))
    print(floor(a/b))
    print(a/b)
div()

2
5
0
0.4

In [58]:
def sq():
    n = int(input(""))
    i = 1
    while i < n:
        print(i*i)
        i= i+1
sq()

6
1
4
9
16
25

In [2]:
if __name__ == '__main__':
    n = int(input())
for i in range(n):
    print(pow(i,2))

9
0
1
4
9
16
25
36
49
64

In [70]:
def is_leap():
    n = int(input())
    if (n%4) == 0:
        if (n%400)==0:
            print("True")
        elif (n%100)==0 and (n%400)>0:
            print("False")
        else:
            print("True")
is_leap()

2100
False

In [15]:
def sq_fun():
    x = int(input("eneter the number of rows you want : "))
    for i in range(x):
        for j in range(i):
            print(j*j, end = " ")
        print("")

In [18]:
sq_fun()

eneter the number of rows you want : 25

0
0 1
0 1 4
0 1 4 9
0 1 4 9 16
0 1 4 9 16 25
0 1 4 9 16 25 36
0 1 4 9 16 25 36 49
0 1 4 9 16 25 36 49 64
0 1 4 9 16 25 36 49 64 81
0 1 4 9 16 25 36 49 64 81 100
0 1 4 9 16 25 36 49 64 81 100 121
0 1 4 9 16 25 36 49 64 81 100 121 144
0 1 4 9 16 25 36 49 64 81 100 121 144 169
0 1 4 9 16 25 36 49 64 81 100 121 144 169 196
0 1 4 9 16 25 36 49 64 81 100 121 144 169 196 225
0 1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256
0 1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289
0 1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324
0 1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361
0 1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400
0 1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400 441
0 1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400 441 484
0 1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400 441 484 529

In [20]:
def is_leap(year):
    leap = "False"
    if (year%4) == 0:
        if (year%400)==0:
            leap = "True"
        elif (year%100)==0 and (year%400)>0:
            leap = "False"
        else:
            leap = "True"
    
    # Write your logic here
    
    return leap

year = int(input())
print(is_leap(year))

200
False

In [33]:
def is_valid():
    x = input("enter your credit card number : ")
    y = int(x[0])
    list = (0,1,2,3,4,5,6,7,8,9)
    if len(x) == 3:
        for value in list:
            for i in x:
                
        if y == 4 or y == 5 or y== 6:
            print("yes")
        
    
        
is_valid()

enter your credit card number : 485
yes

In [49]:
x =1
y=1
z=1
n = 2
ListOfThreeMultiples = [[i,j,k] for i in range(x+1) for j in range(y+1) for k in range(z+1) if i+j+k != n]
ListOfThreeMultiples

[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]

In [42]:
x = 2
y=3
z=4
n = 5
print([i,j,k] for i in range(x) for j in range(y) for k in range(z))

<generator object <genexpr> at 0x0000012FBF78D1B0>

In [43]:
x = 5
print([i] for i in range(x))

<generator object <genexpr> at 0x0000012FBF78D1B0>

In [44]:
print([[x, y] for x in [1, 2, 3] for y in [4, 5, 6]])

[[1, 4], [1, 5], [1, 6], [2, 4], [2, 5], [2, 6], [3, 4], [3, 5], [3, 6]]

In [3]:
def fun():
    n = int(input())
    arr = []
    for i in range(n):
        l = int(input())
        arr.append(l)
    print(arr)
fun()

5
1
2
5
4
6
[1, 2, 5, 4, 6]

In [3]:
a = list(map(int , input().split(" ")))
print(a)

4 5 6
[4, 5, 6]

In [6]:
a=list(map(int,input().strip().split(" ")))
a

4 5 6

[4, 5, 6]

In [5]:
a

[4, 5, 6]

In [ ]:
a = list()

In [10]:
#lists
a = [1,2,3,4,5]
#can be changed deleted
#a.append("ajbsdh")
#del a[0]

In [18]:
print(a)
print(max(a))
print(min(a))
print(len(a))

[1, 2, 3, 4, 5]
5
1
5

In [20]:
# dictionary
lee = {'fir':20,'sec':25}
# del can also be used

In [24]:
lee["fir"]

20

In [32]:
tuple  = {1,2,3,4,5}
tup = {6,7,8,9}

In [33]:
t = tup + tuple

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [39]:
for i in range(1,50,4):
    print(i)
    if i == 17:
        break
#break works in python

1
5
9
13
17

In [40]:
for i in range(1,50,4):
    if i == 13:
        continue
    print(i)

1
5
9
17
21
25
29
33
37
41
45
49

In [41]:
abs(-24)
# abs takes magnitude of integer

24

In [43]:
dir(23)
# which functions can we apply

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [44]:
sent = "hello"

In [45]:
help(sent.upper)

Help on built-in function upper:

upper() method of builtins.str instance
    Return a copy of the string converted to uppercase.

In [46]:
senty = 'print("something")'            # execute what is written inside
exec(senty)

something

In [10]:
class computer:
    def __init__(self,cpu,ram):
        self.cpu = cpu
        self.ram = ram
        print("your configurations are " , self.cpu , self.ram) # self.__  is for calling or refering data of perticular object not class
    def conf(self):
        print("your configurations are " , self.cpu , self.ram)
        
com1 = computer(input("what is your processor"), input("ram of computer"))
com2 = computer("i5",16)
com1.conf()

what is your processor21
ram of computer22
your configurations are  21 22
your configurations are  i5 16
your configurations are  21 22

In [25]:
class compute:
    
    computer = "Lenovo"
    def __init__(self):
        self.cpu = "cpu"
        self.ram = "ram"
    def compare(self,other):
        if self.ram == other.ram:
            print("they are same")
        else:
            print("they are different")
    @classmethod
    def info(cls):
        return(cls.computer)
    
    @staticmethod
    def infor():
        print("this is experiment class.")

   

    
    
c1 = compute()
c1.cpu = "razor"
c2 = compute()
c1.compare(c2) # printing
print(c1.cpu)
compute.computer = "dell"
print(c1.computer)





print(compute.info())

compute.infor()

they are same
razor
dell
dell
this is experiment class.